[package]
name = "flipt-engine-ffi"
version = "0.0.6"
edition = "2021"
authors = ["Flipt Devs <dev@flipt.io>"]
license = "MIT"
description = "Flipt FFI Client Engine"
publish = false

[dependencies]
libc = "0.2.150"
serde = { version = "1.0.147", features = ["derive"] }
serde_json = { version = "1.0.89", features = ["raw_value"] }

[dependencies.flipt-evaluation]
path = "../flipt-evaluation"

[build-dependencies]
cbindgen = "0.26.0"

[dev-dependencies]
mockall = "0.12.1"

[lib]
name = "fliptengine"
crate-type = ["rlib", "dylib"]

[profile.release]
strip = true
