[workspace]
resolver = "2"
members = ["./flipt-engine-ffi", "./flipt-engine-wasm-js", "./flipt-evaluation"]

[profile.release]
strip = true
rpath = true

[profile.release.package.flipt-engine-wasm-js]
opt-level = "s"

[profile.release.package.flipt-engine-ffi]
opt-level = "z"