[tool.poetry]
include = [{ path = "ext/**/*" }, { path = "README.md" }]
name = "flipt-client"
version = "0.0.5"
description = "Flipt Client Evaluation SDK"
authors = ["Flipt Devs <dev@flipt.io>"]
readme = "README.md"
license = "MIT"
repository = "https://github.com/flipt-io/flipt-client-sdks"

[tool.poetry.dependencies]
python = "^3.11"
pydantic = "<3.0"

[tool.poetry.group.dev.dependencies]
black = "^23.11.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
test = 'scripts:test'
