dependencies:
  ffi: ^2.0.1
  json_annotation: ^4.9.0
  path: ^1.9.0
description: 'Flipt Client Evaluation SDK for Dart


  **Note:** As of 1.0.0, `FliptEvaluationClient` has been renamed to `FliptClient`
  for consistency with other SDKs and Dart idioms. Update your code accordingly. 0.x
  versions are now deprecated.

  '
dev_dependencies:
  build_runner: ^2.3.3
  ffigen: ">=9.0.0 <21.0.0"
  json_serializable: ^6.6.2
  lints: '>=4.0.0 <7.0.0'
  test: ^1.21.0
environment:
  flutter: '>=1.20.0'
  sdk: '>=2.17.0 <4.0.0'
files:
- ios/FliptEngineFFI.xcframework
flutter:
  plugin:
    platforms:
      android:
        ffiPlugin: true
        package: io.flipt.client
        pluginClass: none
      ios:
        ffiPlugin: true
        pluginClass: FliptClient
homepage: https://flipt.io
name: flipt_client
version: 1.1.0
