name: Lint SDKs
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint-python:
    name: Lint Python
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: 1.7.0

      - name: Lint Python source
        working-directory: flipt-client-python
        run: |
          poetry install
          poetry run black --check .

  lint-typescript:
    name: Lint Typescript
    strategy:
      matrix:
        node-version: ["20", "21"]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v4

      - name: Install Node ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Lint Typescript source for flipt-client-node
        working-directory: flipt-client-node
        run: |
          npm ci
          npm run lint

      - name: Lint Typescript source for flipt-client-react
        working-directory: flipt-client-react
        run: |
          npm ci
          npm run lint

  lint-java:
    name: Lint Java
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v4

      - name: Install Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3

      - name: Lint Java code
        working-directory: flipt-client-java
        run: ./gradlew spotlessCheck

  lint-ruby:
    name: Lint Ruby
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.2"

      - name: Lint Ruby code
        working-directory: flipt-client-ruby
        run: |
          gem install bundler
          bundle install
          bundle exec rubocop
