name: Package React SDK
on:
  push:
    tags: ["flipt-client-react-**"]

permissions:
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: "18"
          registry-url: "https://registry.npmjs.org"

      - run: |
          npm ci
          npm run build
          npm publish --access public
        working-directory: flipt-client-react
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_REACT_API_KEY }}
