name: Package Dart SDK
on:
  push:
    tags: ["flipt-client-dart-**"]

permissions:
  contents: write
  id-token: write

jobs:
  build:
    uses: ./.github/workflows/package-ffi-sdks.yml
    with:
      sdks: dart
      engine-tag: "latest"
    secrets: inherit
