name: Package SDKs
on:
  workflow_call:
    inputs:
      engine-tag:
        description: "Engine tag to build"
        type: string
        required: true
        default: "latest"
      sdk:
        description: "SDK(s) to build"
        type: string
        required: true
      tag:
        description: "Tag to use for SDK(s)"
        type: string
        required: false

permissions:
  contents: write

env:
  RUBYGEMS_API_KEY: ${{ secrets.RUBYGEMS_API_KEY }}
  NPM_API_KEY: ${{ secrets.NPM_API_KEY }}
  PYPI_API_KEY: ${{ secrets.PYPI_API_KEY }}
  MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
  MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}
  MAVEN_PUBLISH_REGISTRY_URL: ${{ secrets.MAVEN_PUBLISH_REGISTRY_URL }}
  PGP_PRIVATE_KEY: ${{ secrets.PGP_PRIVATE_KEY }}
  PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      ENGINE_TAG: ${{ inputs.engine-tag }}
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.21.3"
          check-latest: true
          cache: true

      - name: Install Dagger
        run: |
          cd /usr/local
          curl -L https://dl.dagger.io/dagger/install.sh | DAGGER_VERSION=0.9.3 sh

      - name: Get Latest Engine Version
        run: |
          if [ "${{ inputs.engine-tag }}" == "latest" ]; then
            echo "ENGINE_TAG=$(curl -s "https://api.github.com/repos/flipt-io/flipt-client-sdks/releases" | \
            jq -r ".[] | select(.tag_name | startswith(\"flipt-engine-ffi-\")) | .tag_name" | \
            sort -Vr | head -n 1 | sed "s/^flipt-engine-ffi-//")" >> $GITHUB_ENV
          fi

      - name: Download Mac ARM64 Engine
        run: |
          mkdir -p tmp/darwin_arm64 && \
          wget "https://github.com/flipt-io/flipt-client-sdks/releases/download/flipt-engine-ffi-${ENGINE_TAG}/flipt-engine-ffi-Darwin-arm64.tar.gz" -O /tmp/flipt-engine-ffi-Darwin-arm64.tar.gz && \
          mkdir -p /tmp/darwin_arm64 && \
          tar -xzf /tmp/flipt-engine-ffi-Darwin-arm64.tar.gz -C /tmp/darwin_arm64 && \
          mv /tmp/darwin_arm64/target/aarch64-apple-darwin/release/* tmp/darwin_arm64

      - name: Download Linux ARM64 Engine
        run: |
          mkdir -p tmp/linux_arm64 && \
          wget "https://github.com/flipt-io/flipt-client-sdks/releases/download/flipt-engine-ffi-${ENGINE_TAG}/flipt-engine-ffi-Linux-arm64.tar.gz" -O /tmp/flipt-engine-ffi-Linux-arm64.tar.gz && \
          mkdir -p /tmp/linux_arm64 && \
          tar -xzf /tmp/flipt-engine-ffi-Linux-arm64.tar.gz -C /tmp/linux_arm64 && \
          mv /tmp/linux_arm64/target/aarch64-unknown-linux-gnu/release/* tmp/linux_arm64

      - name: Download Linux x86_64 Engine
        run: |
          mkdir -p tmp/linux_x86_64 && \
          wget "https://github.com/flipt-io/flipt-client-sdks/releases/download/flipt-engine-ffi-${ENGINE_TAG}/flipt-engine-ffi-Linux-x86_64.tar.gz" -O /tmp/flipt-engine-ffi-Linux-x86_64.tar.gz && \
          mkdir -p /tmp/linux_x86_64 && \
          tar -xzf /tmp/flipt-engine-ffi-Linux-x86_64.tar.gz -C /tmp/linux_x86_64 && \
          mv /tmp/linux_x86_64/target/x86_64-unknown-linux-gnu/release/* tmp/linux_x86_64

      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@v2
        with:
          app_id: ${{ secrets.FLIPT_RELEASE_BOT_APP_ID }}
          private_key: ${{ secrets.FLIPT_RELEASE_BOT_APP_PEM }}
          installation_id: ${{ secrets.FLIPT_RELEASE_BOT_INSTALLATION_ID }}

      - name: Build Individual SDK(s)
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
        run: |
          dagger run go run ./build --languages=${{ inputs.sdk }} --push=true --tag=${{ inputs.tag }}
