name: Test SDKs
on:
  push:
    branches:
      - main
  pull_request:
    branches-ignore:
      - release/*
  workflow_dispatch:

env:
  GO_VERSION: "1.22"
  DAGGER_VERSION: "0.14.0"

jobs:
  test:
    strategy:
      matrix:
        group:
          - ffi
          - wasm
          - js

    name: Integration Tests (${{ matrix.group }})
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          check-latest: true

      - name: Install Dagger
        run: |
          cd /usr/local
          curl -L https://dl.dagger.io/dagger/install.sh | DAGGER_VERSION=${{ env.DAGGER_VERSION }} sh

      - name: Run Integration Tests (${{ matrix.group }})
        run: |
          dagger run go run ./test --groups ${{ matrix.group }}
