name: Test SDKs
on:
  pull_request:
    branches-ignore:
      - release/*
  workflow_dispatch:

env:
  GO_VERSION: "1.25"
  DAGGER_VERSION: "0.18.17"

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        group:
          - wasm
          - js

    name: Integration Tests (${{ matrix.group }})
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
          check-latest: true
          cache: true

      - name: Install Dagger
        run: |
          cd /usr/local
          curl -L https://dl.dagger.io/dagger/install.sh | DAGGER_VERSION=${{ env.DAGGER_VERSION }} sh

      - name: Run Integration Tests (${{ matrix.group }})
        run: |
          dagger run go run ./test --groups ${{ matrix.group }}

  test-ffi:
    strategy:
      fail-fast: false
      matrix:
        sdk:
          - python
          - ruby
          - java
          - dart
          - csharp

    name: Integration Tests FFI - (${{ matrix.sdk }})
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
          check-latest: true
          cache: true

      - name: Install Dagger
        run: |
          cd /usr/local
          curl -L https://dl.dagger.io/dagger/install.sh | DAGGER_VERSION=${{ env.DAGGER_VERSION }} sh

      - name: Run Integration Tests (${{ matrix.sdk }})
        run: |
          dagger run go run ./test --sdks ${{ matrix.sdk }}
